.header {
  background-color: aliceblue;
  color: #1a1a1a;
}

.sub-header {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline dotted;
}

.switch-wrapper {
  height: 100vh;
  margin: -8px -8px 0px -8px;
  background-color: #1a1a1a;
  color: whitesmoke;
  padding: 10px;
}

img {
  float: left;
  margin: 5px;
  width: 200px;
}

form > input {
  margin: 5px;
  border: 2px #907a70 solid;
}

#inputs {
  text-align: center;
}

.footer {
  text-align: center;
}

.founder {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}