body {
    height: 100vh;
    width: 100vw;
}

.submit {
    background-image: url('https://previews.123rf.com/images/siraphol/siraphol1502/siraphol150205996/36703824-old-metal-steel-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    width: fit-content;
}

.submit>input {
    border: #1a1a1a solid 2px;
    border-radius: 5px;
    margin: 10px;
    width: 36.7px;
}

.submit>label {
    margin: 17px 0 0 0;
}

#checkbox {
    margin: 17px 0 0 0;
}

.submit>button {
    margin: 17px 0 0 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    border: #1a1a1a solid 5px;
    border-radius: 10px;
    text-align: center;
    width: 99.9%;
    background-image: url('https://us.123rf.com/450wm/jirsak/jirsak1511/jirsak151100049/48476099-brushed-aluminum-texture-chrome-metal-texture-of-surface-for-wallpaper-and-background-.jpg?ver=6');
}

.bounty {
    border: #1a1a1a solid 1px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(220, 20, 60, .6);
}

img {
    height: 150px;
    margin: 5px;
}

.edit {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    body {
        height: 100vh;
        width:  97.5vw
    }

    .container {
        height: 100vh;
        width: 96.9vw
    }

    .submit {
        width: 100%;
        justify-content: left;
    }
    
    .submit>label {
        margin: 19px;
    }
    
    .submit>button {
        border-radius: 5px;
        height: 50%;
        margin: 12px;
    }

    .submit>input {
        width: min-content;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .submit>button:hover {
        background-color: aqua;
        border-radius: 5px;
        box-shadow: 2px 2px 2px;
        transition: .6s;
    }
}